<!DOCTYPE html>
<html lang="en" dir="ltr" style="zoom: 1;">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet" />

    <style>
      body {
        font-family: 'Roboto';
      }

      .questrial {
        font-family: 'Questrial';
        font-weight: normal;
      }

      .bold {
        font-weight: bold;
      }

      .text-right {
        text-align: right;
      }

      .text-center {
        text-align: center;
      }

      .font-42 {
        font-size: 34pt;
      }

      .font-36 {
        font-size: 28pt;
      }

      .font-20 {
        font-size: 22pt;
      }

      .font-14 {
        font-size: 12pt;
      }

      .font-12 {
        font-size: 10pt;
      }

      .font-6 {
        font-size: 8pt;
      }

      .px-1 {
        padding-left: 4px;
        padding-right: 4px;
      }

      .pr-1 {
        padding-right: 4px;
      }

      .px-32 {
        padding-left: 25px;
        padding-right: 25px;
      }

      .py-32 {
        padding-top: 25px;
        padding-bottom: 25px;
      }

      .pb-1 {
        padding: 4px;
      }

      .p-1 {
        padding: 8px;
      }

      .p-2 {
        padding: 16px;
      }

      .mb-1 {
        margin-bottom: 8px;
      }

      .mb-2 {
        margin-bottom: 16px;
      }

      .mb-3 {
        margin-bottom: 24px;
      }

      .mb-6 {
        margin-bottom: 48px;
      }

      .row {
        clear: both;
        display: block;
        position: relative;
      }

      .col {
        float: left;
      }

      .inline-block {
        display: inline-block;
      }

      .table {
        width: 100%;
      }

      .table thead td {
        border-top: 1px solid #969595;
      }

      .table th:first-child {
        border-left: 1px solid #969595;
      }

      .table td {
        font-family: 'Roboto';
        font-size: 10pt;
        padding: 5px 10px;
        border-bottom: 1px solid #969595;
        border-right: 1px solid #969595;
      }

      .table td:first-child {
        border-left: 1px solid #969595;
      }

      .table .w-30 {
        width: 30%;
      }

      .table .w-70 {
        width: 70%;
      }

      .border-bottom-1 {
        border-bottom: 1px solid gray;
      }
      <%
        const DEPARTURES = {
          "MORNING": "Morgens",
          "MIDDAY": "Mittags",
          "EVENING": "Abend",
          "NIGHT": "Nachts"
        }
      %>
    </style>
  </head>
  <body>
    <div>
      <div class="p-2 mb-2" style="background-color: rgb(232, 234, 245);">
        <div class="text-right font-6">
          <%= DateTime.now().toFormat('dd.MMM.yy HH:mm') %>
        </div>
        <div class="text-center font-20">
          Rollkarte
        </div>
        <div class="text-center font-14">
          <div class="inline-block px-32">
            Name der Tour
            <br />
            <b><%= route.Tour.name %></b>
          </div>
          <div class="inline-block px-32">
            Datum der Lieferung
            <br />
            <b><%= DateTime.now().toFormat('dd.MM.yyyy') %></b>
          </div>
          <div class="inline-block px-32">
            Abfahrt
            <br />
            <b><%= route.pathway[0].Orders[0].departure ? DEPARTURES[route.pathway[0].Orders[0].departure] : '-' %></b>
          </div>
        </div>
      </div>
      <% for (let i = 0; i < route.pathway.length; i += 1) { %>
        <div class="p-1 font-6 mb-6" style="background-color: <%= i % 2 === 0 ? 'rgba(249, 249, 249, 1)' : 'white' %>;">
          <div class="inline-block">
            <b><%= route.pathway[i].name %></b>
          </div>
          <div class="inline-block px-32">
            <%= `${route.pathway[i].street} ${route.pathway[i].number}, ${route.pathway[i].city} (${route.pathway[i].zipcode})` %>
          </div>
          <div class="mb-1">
            &nbsp;
          </div>
          <%
            let x = [
              ['Nr.', '5%', (order, i) => i + 1],
              ['Versender', '25%', (order) => order.User ? `${order.User.name} ${order.User.surname}` : '-'],
              ['Lieferscheinnr', '15%', (order) => order.number || '-'],
              ['Packstücke', '15%', (order) => order.packages || '-'],
              ['Kiste', '10%', () => '&nbsp;'],
              ['Unterschrift', '10%', () => '&nbsp;'],
              ['Bemerkung', '10%', () => '&nbsp;'],
            ];
          %>

          <div class="row">
            <% for (let j = 0; j < x.length; j += 1) { %>
              <div class="col pr-1 border-bottom-1 text-center" style="width: <%= x[j][1] %>;">
                <div class="pb-1">
                  <%= x[j][0] %>
                </div>
              </div>
            <% } %>
          </div>

          <% for (let k = 0; k < route.pathway[i].Orders.length; k += 1) { %>
            <div class="row">
              <% for (let j = 0; j < x.length; j += 1) { %>
                <div class="col pr-1 border-bottom-1 text-center" style="width: <%= x[j][1] %>;">
                  <div class="pb-1">
                    <%- x[j][2](route.pathway[i].Orders[k], j) %>
                  </div>
                </div>
              <% } %>
            </div>
          <% } %>
          <div class="row">
            <div class="col pr-1 text-center" style="width: 5%">&nbsp;</div>
            <div class="col pr-1 text-center" style="width: 25%">&nbsp;</div>
            <div class="col pr-1 text-right" style="width: 15%">
              <div style="padding-top: 8px;">
                Pakete je Kunde
              </div>
            </div>
            <div class="col pr-1 text-center" style="width: 15%">
              <div style="padding-top: 8px;">
                <%= route.pathway[i].Orders.reduce((acc, o) => acc + (o.packages || 0), 0) %>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      <hr />
      <div class="row font-12">
        <div class="col pr-1 text-right bor" style="width: 37%">
          <div style="padding-top: 8px;">
            Gesamtanzahl der Lieferung
          </div>
        </div>
        <div class="col pr-1 text-center" style="width: 15%">
          <div style="padding-top: 8px;">
            <%= route.pathway.reduce((acc, cur) => acc + (cur.Orders.reduce((acc, o) => acc + (o.packages || 0), 0)), 0) %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>